.auth-card {
    width: 700px;
    height: 100vh;
    padding: 4rem;
    background-image: white;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center; 
    align-content: center; 
  }