.floating-card {
  background-color:rgb(41, 149, 244);
  color: white; 
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.dashboardCard{
  background-color: rgba(75, 93, 213, 0.621);
  opacity: 100%;
  margin-top: 20px;
  color: white;
  border-width: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.background{
  background-image: url("./assets/container.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 110vw;
  height: 50vw;
}
.btn-smaller-refined {
  font-size: 0.75rem;
  padding: 5px 10px;
  line-height: 1;
  margin: 5px;
  background-color: transparent; 
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 15px; /* More rounded edges */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn-transparent-rounded:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Slight color on hover */
  border-color: #007bff; /* Darker border on hover */
}