.registerHeader {
    text-align: center;
    color: Black; 
}

.registerOption {
    text-align: center;
    margin-top: 20px;
}

.registerOption h1 {
    font-size: 30px; 
    color: black; 
}

.registerButton {
    width: 100%;
    color: white;
    background-color: #0F1C46;
    border-radius: 10px;
}

.backgroundSite {
    background-image: url("./assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
.siteContainer {
    flex-grow: 1;
}
  
.text-center {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}