.toolbar {
    background-color:rgb(72, 61, 139); 
    color: white;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    align-items: start;
    font-family:'Courier New', Courier, monospace;
  }

#dropdown-bugs{
    background-color: #584bac;
    color: rgb(255, 255, 255);
    border-color: white;
    opacity: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 40vw;
    justify-self:first baseline;
  }
  #dropdown-priority{
    background-color: black;    
  }
  
  .add-bug-btn :focus {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
    background-color:cadetblue;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .user-icon:hover {
    opacity: 0.8;
  }

  .dropdownOptions{
    width: 20vw;
    font-family: 'Courier New', Courier, monospace;
  }
  .model-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 26px;
  }
  .second-line-add-bug{
    align-items: end;
  }
  /* .modal-background{
    background-image: url("./assets/container.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  } */

.add-bug-btn {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  border-color: white;
  background-color: #584bac;
}
.user-info {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
